.about {
    display: flex;
    margin: 0px 20px;
    position: relative; /* Make .about the containing block for absolutely positioned elements */
    overflow: hidden; /* Hide any overflow from the blob image */
}

.about-img {
    width: 250px;
    height: 250px;
    margin: 20px;
    z-index: 2; /* Ensure the image stays above the blob */
}
.about-p{
    font-family: "Poppins", sans-serif;
}

.about-caption {
    z-index: 2; /* Ensure the text stays above the blob */
    position: relative;
    font-family: "Poppins", sans-serif;
    
}

.blob {
    position: absolute; 
    right: -150px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
}
.section-title{
    color: red;
    font-family: "Poppins", sans-serif;
}

.blob-img {
    width: 500px;
    height: 500px;
    opacity: 0.7; 
}

p {
    color: #fff;
    letter-spacing: 3px;
}

h2 {
    color: aliceblue;
}

.btn-cv {
    background-color: transparent;
    border: 2px solid red;
    color: #fff;
    border-radius: 20px;
    padding: 15px 25px;
    font-family: "Roboto Condensed", sans-serif;
    transition: 0.5s ease-in-out;
}
.btn-cv:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: red;
    border-radius: 20px;
    padding: 20px 25px;
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;

}
@media (max-width:575px) {
 .about{
    display: flex;
    grid-row: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:-50px
    
 }
 .about-caption {
    text-align: center;
   
 }
}