@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Teko:wght@300..700&display=swap');
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    position: relative; /* Make .about the containing block for absolutely positioned elements */
    overflow: hidden; /* Hide any overflow from the blob image */
}

.about-img {
    width: 250px;
    height: 250px;
    margin: 20px;
    z-index: 2;
}
.about-p{
    font-family: "Poppins", sans-serif;
    color: #fff;
    letter-spacing: 3px;
}

.about-caption {
    z-index: 2; 
    position: relative;
    font-family: "Poppins", sans-serif;
    
}

.blob {
    position: absolute; 
    right: -135px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
}
.section-title{
    color: red;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

.blob-img {
    width: 500px;
    height: 500px;
    opacity: 0.5; 
}




.btn-cv {
    background-color: transparent;
    border: 2px solid red;
    color: #fff;
    border-radius: 16px;
    padding: 18px 27px;
    font-size: 15px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    transition: 0.5s ease-in-out;
    margin: 10px 20px;
    
}
.btn-cv:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: red;
    border-radius: 20px;
    padding: 20px 28px;
    font-size: 16px;
    

}
@media (max-width:575px) {
 .about{
    display: flex;
    grid-row: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:-10px
    
 }
 .about-caption {
    text-align: center;
   
 }
}