@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Teko:wght@300..700&display=swap');

.contact-img{
    width:70%;
    height: 70%;
    margin:  0px 20px;
    filter: drop-shadow(1px 1px 50px #000);
    
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    

}
.contact{
    margin: 0 auto;
}
.title{
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.contact-form{
    backdrop-filter: blur(8px) saturate(68%);
    -webkit-backdrop-filter: blur(8px) saturate(68%);
    background-color: rgba(208, 2, 27, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 25px;
    width:450px;
    height:410px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contact-subtitle{
    margin:20px 0px;
    color: lightgray
}

    

h5{
    margin:0
}
.form-group{
    margin: 10px;
    border-radius:20px;
    background: transparent;
    

}
input ,textarea{
    background-color: transparent;
    width: 350px;
    transition: 0.3s;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 20px;
    padding: 10px 20px;
    color:#fff;
    margin-top: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}
textarea { resize: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type=text]:focus ,input[type=email]:focus {
    border: 2px solid red;

}
textarea:focus{
    border: 2px solid red;

}
::placeholder{
    color: white;
    
}
.sent-btn{
    padding: 15px 25px;
    backdrop-filter: blur(25px) saturate(68%);
    -webkit-backdrop-filter: blur(25px) saturate(68%);
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 12px;
    border: none;
    border: 1px solid red;
    color: red;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.8rem auto
}
.sent-btn:hover{
    padding: 18px 20px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: red;
    
}
.sendicon{
    width: 1.5rem;
    height:1.5rem;

}
:focus-visible{
    color: red;
}

@media (max-width:475px) {
    .contact{
        margin: 0 auto;
        
    }
    .title{
        color:red;
        font-size: 20px;
        
    }
    .contact-form{
        width: 300px;
        height:350px;
        margin:0 auto;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input ,textarea{
        width:250px; 
        margin-top: 5px;   
     }
     .contact-img-div{
        display: block;
        margin-top:10px;
        text-align:center
     }
     .contact{
        margin:0 auto;
       
     }
     .flex{
        margin: 0 auto;
        display: block;
        
      }
     /* .flex{
        display: block;  
    
    } */
   
    }
