@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=New+Amsterdam&display=swap');

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}
.navbar.scrolled,
.navbar.active {
  background-color: rgba(0, 0, 0, 0.8); /* Light black background */
}
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
}

.logo {
  color: red;
  font-size: 50px;
  font-family: "New Amsterdam", sans-serif;
  text-decoration: none;
  transition: font-size 0.3s ease-in-out;
}
.logo.small {
  font-size: 35px; /* Adjust this size as needed */
}

.hamburger-react {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.nav {
  display: flex;
  list-style: none;
}

.nav-leftside{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
  margin-right: 5%;
}

.item {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

.link {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: transform 0.3s ease;
}

.link:hover {
  color: red;
  transform: translate3d(10px, -10px, 20px);
}
.toggle-style .react-toggle-track-check ,.toggle-style .react-toggle-track-x{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
}

@media (max-width: 768px) {
  .hamburger-react {
    display: block;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .toggle-style.react-toggle--checked .react-toggle-track {
    background-color: red !important;
  }


  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-image: url('/img/navbg.png');
    background-position: left;
   
    background-blend-mode: soft-light;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5%;
   
    backdrop-filter: blur(10px) saturate(174%);
    -webkit-backdrop-filter: blur(19px) saturate(4%);
    background-color: rgba(0, 0, 0, 0.56);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding:  20px;
    
  }

  .navbar.active .nav {
    display: flex;
  }

  .nav.open {
    display: flex;
    margin-top: 20px; 
  }

  .item {
    margin: 8px 0;
    text-align: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   
  }
}
