
.techs-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    backdrop-filter: blur(4px) saturate(0%);
    -webkit-backdrop-filter: blur(4px) saturate(0%);
    background-color: rgba(208, 2, 27, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.125);
    scrollbar-width: none; 
  -ms-overflow-style: none; 
  } 
  .techs-container {
    cursor: grab;
  }

  .techs-container:active {
    cursor: grabbing;
  }
  
  .techs-scroll {
    display: inline-flex;
    gap: 20px;
    
  }
  
  .tech-item {
    display: inline-block;
    text-align: center;
  }
  
  .tech-logo {
    width: 50px; 
    height: auto;
    margin:20px
  }
  .techs-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  .techs-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar if desired */
  }
  